body{
    height:720px;
    width:100%;
    margin:0
}
#page{
    background-color: rgb(141, 138, 207);
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}
#loginBox{
    background-color: rgb(228, 225, 225);
    display: flex;
    min-height: 200px;
    min-width: 200px;
    justify-content:space-evenly;
    align-items: center;
    flex-direction: column;
    box-shadow: 20px 20px 20px rgba(0,0,0,0.19), 10px 10px 10px rgba(0,0,0,0.23);
    border-radius: 8px;
}
#userNameBox{
    display: flex;
    justify-content: center;
    height: 0%;
    width: 100%;
}
#passWordBox{
    display: flex;
    justify-content: center;
    height: 100%;
    width:100%;
    border: 20px;
}
#signIn{
    font-size:32px;
}